@import "../common/shared";

.content-title--h1 {
  font-size: 2.5em;
}

.content-title--h2 {
  font-size: 2.6em;
}

.content-title--h3 {
  font-size: 1.4em;
}

.content-title--h4 {
  font-size: 1.2em;
}

.content-title {

  &--h1 {

  }
  &--h2 {

  }
  &--h3 {

  }
  &--h4 {

  }

}
